{% extends "base_bootstrap.html" %}

{% block content %}

<p>
  <a href="{% url 'network_scanner:host_list' scanner_history_id %}" class="btn btn-dark">Back</a>
</p>
<h5>
  <strong>Host</strong>
</h5>
<p>
  <strong>IP: </strong> {{ host.IP }}
</p>
<p>
  <strong>Mac address: </strong> {{ host.mac_address }}
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Protocol</th>
      <th scope="col">Port id</th>
      <th scope="col">State</th>
      <th scope="col">Reason</th>
      <th scope="col">Reason ttl</th>
      <th scope="col">Created on</th>
      <th scope="col">Port service name</th>
      <th scope="col">Port service product</th>
      <th scope="col">Port service extra info</th>
      <th scope="col">Port service hostname</th>
      <th scope="col">Port service operative system type</th>
      <th scope="col">Port service method</th>
      <th scope="col">Port service conf</th>
    </tr>
  </thead>
  <tbody>
  {% for port in ports %}
    <tr>
      <th scope="row">{{ port.port_id }}</th>
      <td>{{ port.port_name }}</td>
      <td>{{ port.port_accuracy }}</td>
      <td>{{ port.port_state }}</td>
      <td>{{ port.port_reason }}</td>
      <td>{{ port.port_reason_ttl }}</td>
      <td>{{ port.port_created_on }}</td>
      <td>{{ port.port_service_name }}</td>
      <td>{{ port.port_service_product }}</td>
      <td>{{ port.port_service_extra_info }}</td>
      <td>{{ port.port_service_hostname }}</td>
      <td>{{ port.port_service_operative_system_type }}</td>
      <td>{{ port.port_service_method }}</td>
      <td>{{ port.port_service_conf }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}